@import "../../../Assets/Variables.scss";

    .card {
        border-bottom: 1px solid rgba($color: red, $alpha: 0.2);
        box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
        background: #F2F2F2;
        border-radius: 1px;
        padding: 1vw;
        margin: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .infoContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            width: 70%;
            align-self: center;
            border-radius: 5px;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            
        }
        h1 {
            padding: 1vh;
            font-size: 1.5rem;
        }
        p {
            padding: 1vh;
            display: flex;
            flex-direction: row;
        }
        .star {
            margin-left: 0.5vw;
            color: #FFE800;
        }
    }
        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            p {
                border: 1px solid white;
                border-radius: 5px;
                font-size: 0.7rem;
                padding: 0.5vw;
                background-color: $black;
                color: white;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;

            }
        }
    }