@import "../../../Assets/Variables.scss";

    .card {
        border-bottom: 1px solid rgba($color: red, $alpha: 0.2);
        box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
        background: rgba($color: $offWhite, $alpha: 0.1);
        border-radius: 1px;
        // padding: 1vw;
        margin: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        .infoContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            width: 20%;
            align-self: center;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        
        }
        h1 {
            background-color: rgba($color: $offWhite, $alpha: 0.7);
            font-size: 1.5vw;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            padding: 7px;
            margin: 1vw;
            color: rgba($color: #005AAA, $alpha: 1) ;
            cursor: pointer;
            transition: 0.1s;
            &:hover{
            text-decoration: underline;
            }

        }
        p {
            padding: 1vh;
            display: flex;
            flex-direction: row;
            font-size: 1.3vw;
        }
       
        .star {
            margin-left: 0.5vw;
            color: #FFE800;
        }
    }
        footer {
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            p {
                border: 1px solid white;
                border-radius: 5px;
                font-size: 0.7rem;
                padding: 1.5vw;
                background-color: $black;
                color: white;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;

            }
        }
        .overview{
            display: contents;
            border-radius: 10px;
            padding: 5vw;
            border: 1px solid white;

        }
        .overviewHide{
            display: none;
            border-radius: 10px;
        }

    }
    .modalContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        .modal{
            position: fixed;
            display: contents;
            z-index: 1;
            width: 30vw;
            height: auto;
            border: 1px solid white;
            background-color: rgba($color: $black, $alpha: 1);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            color: white;
            
        }
    }

