@import "../../Assets/Variables.scss";

.header {
    border-bottom: 1px solid rgba($color: red, $alpha: 0.2);
    box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
    background: #F2F2F2;    
    color: $black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding: 2vw;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            padding: 1vw;
        }
    }
    h1{
        font-size: 3rem;
        padding-right: 1vw;
    }
    .menuIcon {
        cursor: pointer;

    }
} 
.burgerMenuList {
    display: contents;
    position: fixed;
    overflow-x: hidden;
    text-decoration: none;
    transition: 0.3s ease;
    z-index: 1;
    width: 30vw;
    height: 90%;
    // border-top-left-radius: 20px;
    // border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px  solid rgba($color: red, $alpha: 0.2);
    // justify-content: space-around;
    color: $offWhite;
    box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
    background: rgba($color: $black, $alpha: 0.9) ;   
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            width: 25vw;
            padding: 2vw;
            border-bottom: 1px solid white;
            li {
                font-size: 3vw;
                list-style: none;
            }
            input {
                font-size: 3vw;
            }
        }

    } 

}