@import "../../Assets/Variables.scss";

.header {
    border-bottom: 1px solid rgba($color: red, $alpha: 0.2);
    box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
    background: $black;    
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0.5vw;
    h1 {
        background-color: rgba($color: $offWhite, $alpha: 0.2);
        font-size: 4vw;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;

        padding: 5px;
        span {
            color: #BF3641;
            border-radius: 5px;

        }
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: .5vw;
        margin-right: .5vw;
        input{
            margin-left: 1vw;
            margin-right: 0.5vw;
            width: 30vw;
            height: 5vh;
            padding: 0.5vh;
            border-radius: 10px;
            outline: none;
            border: 1px solid #BF3641;
            font-size: 15px;
            &::placeholder{
                color: $black;

            }

        }
        img {
            width: 20%;
        }
        p {
            padding: 1vw;
        }
    }
    
    
    .menuIcon {
        color: #BF3641;
        cursor: pointer;
        margin-left: 1vw;

    }
} 
.burgerMenuList {
    display: contents;
    position: fixed;
    overflow-x: hidden;
    text-decoration: none;
    transition: .4s ease;
    z-index: 1;
    width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #BF3641;
    // justify-content: space-around;
    color: #BF3641;
    background-color: rgba($color: $black, $alpha: 1) ;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            width: 90vw;
            padding: 1vw;
            border-bottom: 1px solid white;
            li {
                font-size: 3vw;
                list-style: none;
            }
            label {
                cursor: pointer;
                font-size: 2vw;
                transition: 0.5s;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: #BF3641;
                }
            }
            input {
                font-size: 3vw;
            }
        }

    } 
        .navFooter{
            width: 80%;
            height: 30%;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            p{
                font-size: 12px;
                padding-left: 10px;
                cursor: pointer;
                &:hover{
                    color: #BF3641;
                }
            }
            .soonContainer{
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    flex-direction: row;
                    
                }
                img{
                    padding-top: 2vh;
                    margin-right: 1vw;
                }
            }
            .navInfo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 3vw;

            }
        }
    
}