@import "../../Assets/Variables.scss";

.header {
    border-bottom: 1px solid rgba($color: red, $alpha: 0.2);
    box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
    background: #F2F2F2;    
    color: $black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0.5vw;
    h1 {
        background-color: rgba(34,36,38,.15);
        font-size: 3rem;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;

        padding: 0.5vw;
        span {
            color: #BF3641;
            border-radius: 5px;

        }
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 20%;
        }
        p {
            padding: 1vw;
        }
    }
    
    
    .menuIcon {
        color: #BF3641;
        cursor: pointer;

    }
} 
.burgerMenuList {
    display: contents;
    position: fixed;
    overflow-x: hidden;
    text-decoration: none;
    transition: 0.3s ease;
    z-index: 1;
    width: 30vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px  solid rgba($color: red, $alpha: 0.2);
    color: $offWhite;
    box-shadow: 0 2px 2px 0 rgba(34,36,38,.15);
    background: rgba($color: $black, $alpha: 1) ;   
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            width: 25vw;
            padding: 2vw;
            border-bottom: 1px solid white;
            li {
                font-size: 2vw;
                list-style: none;
            }
            label {
                cursor: pointer;
                font-size: 2vw;
                transition: 0.5s;
                &:hover{
                    color: #BF3641;
                }
            }
            input {
                font-size: 3vw;
            }
        }

    } 

}