@import "../../Assets/Variables.scss";

.cardContainer {

    background-color: $black;
    text-align: center;
    // display: grid;
    grid-template-columns: 1fr ;
    .twoColumns{
        display: grid;
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr 1fr;  

    }
    .oneColumns{
        display: grid;
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr;  
    }
    .moveCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    
    }
    h3 {
        padding: 1vh; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                padding-right: 1vw;
                color: white;
                font-weight: 400;
                font-size: 15px;
            }
        }

        .columnIcon {
            color: white;
            cursor: pointer;
            transition: 0.3s ease;
            transform: rotate(90deg);
         
        }
        .columnIconRotate {
            color: white;
            cursor: pointer;
            transition: 0.3s ease;
            transform: rotate(0deg);
       

        }

        span{
            background-color: rgba($color: $offWhite, $alpha: 0.2);
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            padding: 0.5vw;
            color: white;
        }
    }

}