@import "../../Assets/Variables.scss";

.cardContainer {
    width: 100vw;
    height: 90vh;
    background-color: $offWhite;
    text-align: center;
    h3 {
        background-color:  rgba($color: red, $alpha: 0.8);
        padding: 2vh;
    }

}